.homePageContainer {
  background-image: url("../../media/bg_images/helix_one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}
.homePageContainer::after {
  content: "";
  inset: 0;
  background-color: black;
  position: absolute;
  filter: opacity(0.5);
  z-index: -1;
}
