.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

.canvasContainer {
  height: 800px;
  width: 100%;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

#dnaCanvas {
  z-index: 1;
}

#foodCanvas {
  z-index: 2;
}

#shelterCanvas {
  z-index: 3;
}
